# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment files
.env
.env.*

# IDE
.idea/

# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Node.js
**/node_modules/
